# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# ==========================================
# Virtual Environment
# ==========================================
venv/
.env

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Logs
# ==========================================
logs/
*.log
airflow/logs/

# ==========================================
# MLflow
# ==========================================
mlruns/
mlflow.db

# ==========================================
# Data
# ==========================================
#data/interim/
#data/processed/

# ==========================================
# Models & Artifacts
# ==========================================
artifacts/
#*.pkl
*.joblib

# ==========================================
# Docker
# ==========================================
.docker/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db